/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets
  List of CSS3 Sass Mixins File to be @imported and @included as you need
  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files
  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties
------------------------------------------------------------- */
p {
  font-weight: 200;
  letter-spacing: 1px; }

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

form .control-label.required::after {
  content: " *";
  color: #d9534f; }

.form-inline .form-control {
  margin-right: 5px;
  margin-bottom: 5px;
  float: left; }

/*# sourceMappingURL=main.css.map */
