form{
  .control-label{
    &.required{
      &::after{
        content: " *";
        color: $color-danger;
      }
    }
  }
}

.form-inline{
  .form-control{
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
  }
}