//
// Colors
//

// Default
$color-default: #212121;
$color-default-lightest: #fff;
$color-default-lighter: #555;
$color-default-darker: #111;
$color-default-darkest: #000;

// Primary colors
$color-primary: #4484ac;
//$color-primary-lightest: #fff;
$color-primary-lighter: #eef8ff;
$color-primary-darker: #397096;
$color-primary-darkest: #31375a;

// Success colors
$color-success: #36c43f;
$color-success-lightest: #aef1b2;
$color-success-lighter: #83e189;
$color-success-darker: #30a438;
$color-success-darkest: #2c7e31;

// Warning
$color-warning: #fcad26;
//$color-warning-lightest: #fff;
$color-warning-lighter: #fff7dd;
$color-warning-darker: #f6aa2a;
//$color-warning-darkest: #000;

// Danger
$color-danger: #d9534f;
//$color-danger-lightest: #fff;
$color-danger-lighter: #ffaab6;
$color-danger-darker: #d21341;
//$color-danger-darkest: #000;



//
// Fonts size
//

// $font-size-base: 11px;
// $font-size-footer: 8px;
// $font-size-footer: 8px;



//
// Padding & margin
//

$row-padding: 5.5%;


